<nav class="mobile-sidebar shadow  flex-row align-items-start mx-0 px-0    " id="mobile-sidebar">
    <ul class="nav" >
      <li class="nav-item">
        <button onclick="toggleNavbar()" class="btn btn-lg " id="btnToggler"><i class="bi bi-arrow-return-right"></i></button>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" href="/dashboard">
          <i class="bi bi-grid"></i>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="/projets"  >
          <i class="bi bi-code-square"></i>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="/sprints"  >
          <i class="bi bi-arrow-repeat"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/taches" >
          <i class="bi bi-list-task"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/meeting">
          <i class="bi bi-camera-video"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/chat">
          <i class="bi bi-chat-left"></i>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="/notification">
          <i class="bi bi-bell"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/EditMyProfile">
          <i class="bi bi-people"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/documentation">
          <i class="bi bi-book"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/logout">
          <i class="bi bi-box-arrow-left"></i>
        </a>
      </li>
    </ul>
</nav>