<nav class="sidebar shadow flex-row align-items-start mx-0 px-0  " id="sidebar">
    <ul class="nav" id="sidebar">
      <li class="nav-item nav-link">
          <button onclick="toggleNavbar()" class="btn btn-lg  " id="btnToggler"><i class="bi bi-arrow-return-left"></i></button>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" href="/dashboard">
          <i class="bi bi-grid"></i>
          <span class="menu-title mx-2">Acceuil</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="/projets"  >
          <i class="bi bi-code-square"></i>
          <span class="menu-title mx-2 ">Projets</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="/sprints"  >
          <i class="bi bi-code-square"></i>
          <span class="menu-title mx-2 ">Sprints</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/taches" >
          <i class="bi bi-list-task"></i>
          <span class="menu-title mx-2">Tâches</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/meeting">
          <i class="bi bi-camera-video"></i>
          <span class="menu-title mx-2 ">Meeting</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/chat">
          <i class="bi bi-chat-left"></i>
          <span class="menu-title mx-2">Chat</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="/notification">
          <i class="bi bi-bell"></i>
          <span class="menu-title mx-2">Notification</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/EditMyProfile">
          <i class="bi bi-people"></i>
          <span class="menu-title mx-2">Profil</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/documentation">
          <i class="bi bi-book"></i>
          <span class="menu-title mx-2">Documentation</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/logout">
          <i class="bi bi-box-arrow-left"></i>
          <span class="menu-title mx-2">Déconnexion</span>
        </a>
      </li>
    </ul>
</nav>