<!DOCTYPE html>
<html lang="fr">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Collaboro | Créer une nouvelle Persona</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/assets/js/navbar.js" ></script>
</head>
<body >
  <div class="container-scroller  ">
    <nav class="navbar  fixed-top navbar-light shadow-sm  d-flex  align-items-center ">
    <a class="navbar-brand " href="/dashboard">
      <img src="/assets/img/logo.png"  class="d-inline-block align-top"> </a>
      <ul class="nav justify-content-end ">
        <li class="nav-item navbar-item">
          <a class="nav-link count-indicator " href="/chat">
            <i class="bi bi-envelope-fill mr-5 "></i>
            <span class="count1"></span>
          </a>
        </li>
        <li class="nav-item navbar-item">
          <a class="nav-link count-indicator " href="/notification">
            <i class="bi bi-bell-fill mr-4 "></i>
            <span class="count"></span>
          </a>
        </li>
        <li class="nav-item  mr-5 navbar-item">
          <a class="nav-link profile-photo " href="/EditMyProfile/<%= data._id%>"><img src="<%=data.photo%>">
          </a>
        </li>

      
      </ul>
  </nav>
    <!--navbar end-->
    <div class="container-fluid page-body-wrapper">
      <!--sidebar start-->
      <nav class="sidebar shadow flex-row align-items-start mx-0 px-0  " id="sidebar">
    <ul class="nav" id="sidebar">
      <li class="nav-item nav-link">
          <button onclick="toggleNavbar()" class="btn btn-lg  " id="btnToggler"><i class="bi bi-arrow-return-left"></i></button>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" href="/dashboard">
          <i class="bi bi-grid"></i>
          <span class="menu-title mx-2">Acceuil</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" data-toggle="collapse" href="/projets"  >
          <i class="bi bi-code-square"></i>
          <span class="menu-title mx-2 ">Projets</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="/sprints"  >
          <i class="bi bi-code-square"></i>
          <span class="menu-title mx-2 ">Sprints</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/taches" >
          <i class="bi bi-list-task"></i>
          <span class="menu-title mx-2">Tâches</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/meeting">
          <i class="bi bi-camera-video"></i>
          <span class="menu-title mx-2 ">Meeting</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/chat">
          <i class="bi bi-chat-left"></i>
          <span class="menu-title mx-2">Chat</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="/notification">
          <i class="bi bi-bell"></i>
          <span class="menu-title mx-2">Notification</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/EditMyProfile">
          <i class="bi bi-people"></i>
          <span class="menu-title mx-2">Profil</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/documentation">
          <i class="bi bi-book"></i>
          <span class="menu-title mx-2">Documentation</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/logout">
          <i class="bi bi-box-arrow-left"></i>
          <span class="menu-title mx-2">Déconnexion</span>
        </a>
      </li>
    </ul>
</nav>

      <nav class="mobile-sidebar shadow  flex-row align-items-start mx-0 px-0    " id="mobile-sidebar">
    <ul class="nav" >
      <li class="nav-item">
        <button onclick="toggleNavbar()" class="btn btn-lg " id="btnToggler"><i class="bi bi-arrow-return-right"></i></button>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" href="/dashboard">
          <i class="bi bi-grid"></i>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" data-toggle="collapse" href="/projets"  >
          <i class="bi bi-code-square"></i>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="/sprints"  >
          <i class="bi bi-arrow-repeat"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/taches" >
          <i class="bi bi-list-task"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/meeting">
          <i class="bi bi-camera-video"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/chat">
          <i class="bi bi-chat-left"></i>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="/notification">
          <i class="bi bi-bell"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/EditMyProfile">
          <i class="bi bi-people"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/documentation">
          <i class="bi bi-book"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="/logout">
          <i class="bi bi-box-arrow-left"></i>
        </a>
      </li>
    </ul>
</nav>
        <!--sidebar end-->
         <!--sidebar end-->
         <div class=" container-fluid main-panel" id="main-panel-home" >
          <div class="content-wrapper" id="main-panel-wrapper">
            <div class="row mt-2">
              <div class="col-md-6 col-sm-12 h5  m-md-0 m-sm-2  p-0">
                <span class="text-dark ml-3">Titre de Projet :</span> <span class="PageTitle"> Titre de projet </span>
              </div>
              <div class="col-md-6 col-sm-12 d-flex justify-content-end">
                <button type="button" class="btn btn-warning text-light  d-none mr-2">Modifier<i
                    class="bi bi-person-check ml-2 "></i></button>
                <button type="button" class="btn btn-danger text-light  d-none mr-2">Supprimer<i
                    class="bi bi-person-x ml-2 "></i></button>
              </div>
            </div>
            <div class="row my-2 mx-0 ">
              <div class=" col-md-4 col-sm-12 p-2 projectInfosContainer d-flex flex-column justify-content-between">
                <div class="form-group row ">
                  <div class="col-sm-12 ">
                    <label for="nom" class="font-weight-bold">Nom et Prénom</label>
                  </div>
                  <div class="col-sm-12 m-auto">
                      <input type="text" name="nom"  class="form-control" id="nom" placeholder="Le nom complet de Persona">
                  </div>
                </div>
                <div class="form-group row mt-0">
                  <div class="col-sm-12 ">
                    <label for="genre" class="font-weight-bold">Genre</label>
                  </div>
                  <div class="col-sm-12 m-auto d-flex">
                      <div class="form-check form-check-inline col">
                          <input class="form-check-input" type="radio" name="genre" id="genderMale" value="Homme" checked>
                          <label class="form-check-label" for="genderMale">Homme</label>
                        </div>
                        <div class="form-check form-check-inline col">
                          <input class="form-check-input" type="radio" name="genre" id="genderFemale" value="Femme">
                          <label class="form-check-label" for="genderFemale">Femme</label>
                        </div>
                        <div class="form-check form-check-inline col">
                          <input class="form-check-input" type="radio" name="genre" id="genderOther" value="Autre">
                          <label class="form-check-label" for="genderOther">Autre</label>
                        </div>
                  </div>
                </div>
                <div class="form-group row mt-0">
                  <div class="col-sm-12 ">
                    <label for="age" class="font-weight-bold">Âge</label>
                  </div>
                  <div class="col-sm-12 m-auto">
                      <input type="number" name="age"  class="form-control" id="age" min="0" placeholder="Veuillez indiquez L'âge de Persona" >
                  </div>
                </div>
                <div class="form-group row mt-0">
                  <div class="col-sm-12 ">
                    <label for="profession" class="font-weight-bold">Profession</label>
                  </div>
                  <div class="col-sm-12 m-auto">
                      <input type="text" name="profession"  class="form-control" id="profession" placeholder="Exemple: Professeur,étudiant,médecin..." >
                  </div>
                </div>
                <div class="form-group row mt-0">
                  <div class="col-sm-12 ">
                    <label for="adress" class="font-weight-bold">Adresse de résidence</label>
                  </div>
                  <div class="col-sm-12 m-auto">
                      <input type="text" name="adress"  class="form-control" id="adresse" placeholder="L'adresse de résidence de ersona" >
                  </div>
                </div>
                <div class="form-group row mt-0">
                  <div class="col-sm-12 ">
                    <label for="etatCivile" class="font-weight-bold">État civile:</label>
                  </div>
                  <div class="col-sm-12 m-auto d-flex">
                      <div class="form-check form-check-inline col">
                          <input class="form-check-input" type="radio" name="martial" id="single" value="Célibataire" checked>
                          <label class="form-check-label" for="">Célibataire</label>
                        </div>
                        <div class="form-check form-check-inline col">
                          <input class="form-check-input" type="radio" name="martial" id="married" value="Marié(e)">
                          <label class="form-check-label" for="">Marié(e)</label>
                        </div>
                        <div class="form-check form-check-inline col">
                          <input class="form-check-input" type="radio" name="martial" id="divorced" value="Divorcé(e)">
                          <label class="form-check-label" for="">Divorcé(e)</label>
                        </div>
                        <div class="form-check form-check-inline col">
                          <input class="form-check-input" type="radio" name="martial" id="widow" value="Veuf(ve)">
                          <label class="form-check-label" for="">Veuf(ve)</label>
                        </div>
                  </div>
                </div>
              </div>
              <div class=" col   ml-2  mt-md-0 mt-sm-2  p-2  projectInfosContainer d-flex justify-content-between">
                <div class="col-3 d-flex align-items-center justify-content-center ">
                  <button type="button" class="btn   previousAvatar"><i
                      class="bi bi-chevron-bar-left h1"></i></button>
                </div>
                <div class="col-6  avatarContainer  p-1" style="background-image: url('/assets/uploads/personas/personas0.jpg');">
                </div>
                <div class="col-3 d-flex align-items-center justify-content-center ">
                  <button type="button" class="btn  nextAvatar"><i class="bi bi-chevron-bar-right h1"></i></button>
                </div>
              </div>
            </div>
            <div class="row my-2 mx-0">
              <div class="col projectInfosContainer d-flex flex-column p-2 mx-1">
                <div class="col font-weight-bold">Description</div>
                <div class="col">
                  <div class="form-group">
                      <textarea class="form-control" id="description" name="description" rows="3" placeholder="Veuillez décrivez plus la persona ..."></textarea>
                    </div>
                </div>
              </div>
              <div class="col projectInfosContainer d-flex flex-column p-2 mx-1">
                <div class="col font-weight-bold">Objectifs</div>
                <div class="col">
                  <div class="form-group">
                      <textarea class="form-control" id="objectifs" name="objectifs" rows="3" placeholder="Veuillez indiquez les objectifs de person ..."></textarea>
                    </div>
                </div>
              </div>
              <div class="col projectInfosContainer d-flex flex-column p-2 mx-1">
                <div class="col font-weight-bold">Environnement</div>
                <div class="col">
                  <div class="form-group">
                      <textarea class="form-control" id="environment" name="environment" rows="3" placeholder="Veuillez faire une brief description du persona ..."></textarea>
                    </div>
                </div>
              </div>
        
            </div>
            <div class="row my-2 mx-0 d-flex justify-content-center">
              <div class="col-3">
                  <button type="button" onclick="validateForm(event)" class="btn btn-block btn-success" id="<%=projet%>">Créer une nouvelle persona <i class="bi bi-person-plus"></i></button>
              </div>
             </div>
         </div>
          
       </div>
  </div>
  </div>
</body>
<script src="/assets/js/createPersona.js"></script>


</html>