<!DOCTYPE html>
    <html lang="en">
    
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Oups! Erreur </title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    
    <body>     
      <div class=" page-body-wrapper flex-column  error-500-container  full-page-wrapper">
        <div class="row px-2">
          <a href="/"><img src="/assets/img/LogoWhite.png" alt="logo" class="error-brand-logo mt-3"></a> 
        </div>
            <div class="row   my-5 py-5">
                <div class="container-fluid  mt-5 text-center">
                    <span class="display-1 col-12 d-block text-warning "> Oups !</span>
                    <div class="  display-4   error-message text-light">Une erreur est survenue lors de traitement de votre demande. </div>
                    <a href="/" class="btn  btn-outline-light  GBackButton"><i class="bi bi-house-heart-fill"> </i> Page d'acceuil</a>
                </div>
            </div>
        </div>
 
</body>
</html>
    