<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Collaboro | Page d'acceuil </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="page-body-wrapper d-flex flex-column   landscape-container full-page-wrapper">
    <div class="row px-2">
      <img src="/assets/img/Logo.png" alt="logo" class="error-brand-logo mt-3 ">
    </div>
    <div class="row justify-content-center  my-5 py-5">
            <div class="container-fluid   mt-5 p-3  ">
                <span class="h1  font-weight-light col-6 d-block brandName  mb-3">Outil de pilotage de projet Agile et Scrum</span>
                <div class="h3 col-5 font-weight-light text-muted"><p id="brandMessage">Simplifiez vos processus et améliorez la collaboration entre les employés. Décomposez votre projet en petites tâches et attribuez-les à votre équipe pour améliorer la collaboration.</p></div>
                <a  href="/register" class="btn  d-none ml-2"  id="registerButtonLs">Rejoignez nous</a>
                <a  href="/login" class="btn  d-none ml-2"  id="loginButtonLs">Se Connecter</a>

            </div>
    </div>
    </div>
    <div class="row d-flex m-2 px-2 justify-content-center">
        <div class="col-12  text-center mb-2">
            <p class="h1 sectionTitle">Nos Services</p>
        </div>
        <div class="col-md-3 col-sm-12 d-flex flex-column ">
            <div class="card  featureCard  mb-1 p-1 " >
                <ul class="list-group list-group-flush align-items-center ">
                  <li class="list-group-item  p-0 pt-1  featureAttribute">
                      <i class="bi bi-kanban featureInfo justify-content-center d-flex align-items-center"></i>
                  </li>
                  <li class="list-group-item p-0 pt-1 featureAttribute h3">
                      Organization
                  </li>
                  <li class="list-group-item p-2 pt-1 featureAttribute">
                    Livrez plus rapidement et de façon plus fiable grâce à Collaboro!
                    Développez des planifications plus intelligentes dans plusieurs équipes et projets, qui tiennent compte des capacités et dépendances de l'équipe.
                </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 d-flex flex-column ">
            <div class="card  featureCard  mb-1 p-1 " >
                <ul class="list-group list-group-flush align-items-center ">
                  <li class="list-group-item  p-0 pt-1  featureAttribute">
                      <i class="bi bi-calendar4-week featureInfo justify-content-center d-flex align-items-center"></i>
                  </li>
                  <li class="list-group-item p-0 pt-1 featureAttribute h3">
                      Scheduling
                  </li>
                  <li class="list-group-item p-2 pt-1 featureAttribute">
                    Le service de planification que nous offrons est l'utilitaire qui vous aide à planifier des travaux ou des tâches à exécuter à un moment donné. Le "moment" peut aller de quelques secondes dans un avenir immédiat à une autre date dans un avenir lointain. 
                </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 d-flex flex-column ">
            <div class="card  featureCard  mb-1 p-1 " >
                <ul class="list-group list-group-flush align-items-center ">
                  <li class="list-group-item  p-0 pt-1  featureAttribute">
                      <i class="bi bi-clipboard-data featureInfo justify-content-center d-flex align-items-center"></i>
                  </li>
                  <li class="list-group-item p-0 pt-1 featureAttribute h3">
                      Analyse
                  </li>
                  <li class="list-group-item p-2 pt-1 featureAttribute">
                    La représentation graphique de vos projets, à travers des couleurs et des formes vous permet de vous démarquer et de communiquer dès lors qu'un prospect pose un œil sur vos projets et leurs avancements.
                </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 d-flex flex-column ">
            <div class="card  featureCard  mb-1 p-1 " >
                <ul class="list-group list-group-flush align-items-center ">
                  <li class="list-group-item  p-0 pt-1  featureAttribute">
                      <i class="bi bi-bar-chart-steps featureInfo justify-content-center d-flex align-items-center"></i>
                  </li>
                  <li class="list-group-item p-0 pt-1 featureAttribute h3">
                      Planning
                  </li>
                  <li class="list-group-item p-2 pt-1 featureAttribute">
                    Lorsque l'on parle de gestion du planning en entreprise, on attend souvent par là l'organisation du temps de travail, associé à des tâches et des missions.Gràce a Collaboro ,vous pouves dés maintenant commencer a plannifier vos projets ,affecter vos taches pour atteindre la réussite.
                </li>
                </ul>
            </div>
        </div>
    </div>

</body>
<script src="/assets/js/animateCaption.js"></script>
</html>
